@import './general';

.Decoder{
  .header{
    height: 40vh;
  }

  .backgroundText{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  
    overflow: hidden;
    word-wrap: break-word;
    user-select: none;
  
    color: #eeeeee;
    font-size: 24px;
  }

  .browserHistory, .autofill{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;

    h2{
      width: 100%;
      text-align: center;
    }
  }

  .tagCloudSection, .topURLsSection, .autofillProfile{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    border-radius: 5px;
  }

  .browserHistory{
    .tagCloudSection{
      height: max-content;
      background: $primary-color;
      .tag-cloud{
    
        
        text-align: center;
        
        .tag-cloud-tag{
          transition: ease-out 100ms;
          cursor: pointer;
          word-break: break-word;
    
          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
  
    .topURLsSection{
      background: $primary-color--dark;
  
      .tagContainer{
        flex: 1;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey; 
          border-radius: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $primary-color--light; 
          border-radius: 10px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $primary-color--light; 
        }

        .topURL{
          margin-bottom: 20px;
          padding: 20px 30px;
    
          background: $primary-color;
          box-shadow: 1px 1px 8px #00000050;
          border-radius: 5px;
    
          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      p{
        margin-bottom: 0;
      }
    }
  }

  .autofill{
    .autofillProfile{
      margin: 0 auto ;
      background-color: $primary-color--light;

      .profile{
        text-align: left;

        &.hidden{
          display: none;
        }

        .name{
          font-size: 1.4rem;
          font-weight: 600;
        }

        .lastUsed{
          font-size: 1rem;
        }
      }
    }
  }
}
