@import './general';

.FilesForm{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;

    .uploadButtons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        // Hide the ugly file input and use the label as the button
        .fileInput{
            width: 100%;
        
            label{
                display: block;
                width: 100%;
            }
            input[type="file"] {
                display: none;
            }
        }
        
        > a{
            width: 100%;
        }
    }

    .uploadList{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            width: max-content;
            margin: 0;
            background-color: rgb(255, 92, 92);
            &.uploaded{
                background-color: rgb(88, 188, 88);
            }

            &:first-child{
                background-color: unset;
            }
        }
    }

}