@import './general';

.decodeMe{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: top;

    > h1{
        width: 100%;
    }
    > p{
        width: 50%;
        padding-right: 2rem;
        border-right: 2px solid white;
    }

    > .FilesForm{
        width: calc(50% - 2rem);
    }
}

@media only screen and (max-width: 1200px){
    .decodeMe{
        > p{
            width: 100%;
            padding: 0;
            border-right: unset;
        }

        > .FilesForm{
            width: 100%;
            margin-top: 1rem;
            gap: 1rem;
            justify-content: center;
        }
    }
}