@import './general';

menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 2rem 4rem;
    background: rgb(115,193,219);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    
    a{
        margin-right: 2rem;
        margin-bottom: 0;
        text-align: center;
        color: $white;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }

        &.home-icon img, &.menu-icon img{
            height: 2rem;
            width: 2rem;
        }

        &.menu-icon {
            display: none;
            align-self: flex-end;
        }
    }
}

@media only screen and (max-width: 800px){
    menu{
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        // background: $primary-color--dark;
        backdrop-filter: blur(8px);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 4px 20px 1px black;
        
        a{
            display: none;
            margin-right: 0;
            margin-top: 1rem;

            &:first-child{
                margin-top: 0;
            }

            &.menu-icon{
                display: inline;
                img{
                    display: block;
                }
            }
        }

        &.active{
            a{
                display: inline;
            }
        }
    }
}